<plist version="1.0">
   <dict>
      <key>items</key>
      <array>
         <dict>
            <key>assets</key>
            <array>
               <dict>
                  <key>kind</key>
                  <string>software-package</string>
                  <key>md5</key>
                  <integer>0D0141433F29B046CB5B7479B561EE7E</integer>
                  <key>url</key>
                  <string>https://raw.githubusercontent.com/minchemo/QrScanSms/master/qr_sms.ipa</string>
               </dict>
               <dict>
                  <key>kind</key>
                  <string>display-image</string>
                  <key>needs-shine</key>
                  <true />
                  <key>url</key>
                  <string>https://raw.githubusercontent.com/minchemo/QrScanSms/master/image.57×57.png</string>
               </dict>
               <dict>
                  <key>kind</key>
                  <string>full-size-image</string>
                  <key>needs-shine</key>
                  <true />
                  <key>url</key>
                  <string>https://raw.githubusercontent.com/minchemo/QrScanSms/master/image.512×512.jpg</string>
               </dict>
            </array>
            <key>metadata</key>
            <dict>
               <key>bundle-identifier</key>
               <string>com.minchemo.QRsms</string>
               <key>bundle-version</key>
               <string>1.0</string>
               <key>kind</key>
               <string>software</string>
               <key>subtitle</key>
               <string>Minchemo</string>
               <key>title</key>
               <string>QRsms</string>
            </dict>
         </dict>
      </array>
   </dict>
</plist>